<div class="container">
  <div>
      <mat-form-field>
        <mat-select placeholder="Favorite food" [(value)] ="food">
        <mat-option *ngFor="let food of foods" [value]="food">
          {{ food }}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <mat-form-field>
      <input matInput #quantityInput (keyup)="keyup(quantityInput.value)" style="display: inline" placeholder="Quantity"/>
    </mat-form-field>

  </div>
  <div>
 <button mat-raised-button color="primary" (click)="addItem()">
      Add Item
    </button>

  </div>
   

  <ul>
    <li *ngFor="let food of itemList"><span>{{food.item}}</span><span>{{food.count}}</span> <button mat-raised-button color="warn">X</button></li>
  </ul>
</div>
