<div class="container">
  <h2>Edit Order</h2>
  <br>
  <h4 style="float:left;">Order #</h4>
  <div class="itemDetail" ng-repeat="x in x">
    <ul>
      <li>
        <p>Sku #:</p>
      </li>
      <li>
        <p>Vendor:</p>
      </li>
      <li>
        <p>Description:</p>
      </li>
      <li>
        <p>Price:</p>
      </li>
      <li>
        <mat-form-field hintLabel="Delete Item, Change to 0">
          <input matInput input maxlength="13" placeholder="Quantity">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </li>
    </ul>
  </div>
    <button type="button" name="button">Complete Order</button>
    <button type="button" name="button">Delete Order</button>
    <br>
    <a href="">Return to Menu</a>
</div>
