<br>
<input
  type="search"
  placeholder="Search By Vendor, Product, or Sku"
  >
<br>
<mat-expansion-panel
  [expanded]="true"
  *ngFor="let order of closedOrders"
  >
  <mat-expansion-panel-header style="background: gray;">
    <mat-panel-title>
      <h3>Order # {{order._id}}</h3>
      <h3 style="padding-left: 50px;">
        Date Closed {{order.dateClosed}}
      </h3>
      <h3 style="padding-left: 50px;">
        Department
      </h3>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Item: {{order.item}}</p>
  <p>Sku:  {{order.sku}}</p>
  <p>Vendor: {{order.vendor}}</p>
  <p>Quantity: {{order.quantity}}</p>
  <p>Price:  {{order.price}}</p>
  <div class="settings" style="display: inline-block;">
  <button
    mat-raised-button
    color="primary"
    type="button"
    name="button" style=" float: left;"
    (click)="openPrint(order)"
    >
    Print Invoice
    </button>

    <button
    mat-raised-button
    color="primary"
    type="button"
    name="deleteButton"
    style="float:left; margin-left: 10px"
    (click)="deleteClosedOrder.emit(order)"
    >
    Delete Invoice
    </button>
  </div>
</mat-expansion-panel>
