<br>
  <mat-form-field class="w50">
    <input
      type="search"
      placeholder="Search Orders by Order#, Item, Vendor, Product, Quantity, or Sku"
      [(ngModel)]="searchText"
      matInput
      >
  </mat-form-field>
<br>
<mat-expansion-panel
  *ngFor="let order of (closedOrders | search : searchText)"
  >
  <mat-expansion-panel-header  style="background: gray;">
    <mat-panel-title>
      <h3>
        Order # {{order._id}}
      </h3>
      <h3 style="padding-left: 50px;">
        Date Closed {{order.dateClosed}}
      </h3>
      <h3 style="padding-left: 50px;">
        Department
      </h3>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <p>Item: {{order.item}}</p>
    <p>Sku:  {{order.sku}}</p>
    <p>Vendor: {{order.vendor}}</p>
    <p>Quantity: {{order.quantity}}</p>
    <p>Price:  {{order.price}}</p>
    <!-- <div class="settings" style="display: inline-block;"> -->
    <mat-action-row>
      <button
        mat-raised-button
        color="primary"
        type="button"
        name="button"
        (click)="openPrint(order)"
        >
        Print Invoice
      </button>

      <button
        mat-raised-button
        color="warn"
        type="button"
        name="deleteButton"
        style="margin-left: 10px"
        (click)="deleteClosedOrder.emit(order)"
        >
        Delete Invoice
      </button>
    </mat-action-row>
      <!-- </div> -->
  </ng-template>
</mat-expansion-panel>
