<div>
  <div >
    <br>
    <button 
        *ngIf="!pageState.addingUser && !pageState.creatingUser"
        mat-raised-button 
    (click)="toggleNewUser()"
    color="primary">Add New User</button>
    <button
      *ngIf="pageState.addingUser || pageState.creatingUser"
      mat-raised-button
      (click)="close()"
      color="primary"
    >
      Close
    </button>
  </div>
  <div *ngIf="pageState.addingUser">
    <h1 class="center-text" style="font-family: 'Montserrat', sans-serif">Create a New User on this Account</h1>
    <div class="form-container">
        <form  #f="ngForm" (ngSubmit)="handleSubmit(f)">
            <mat-form-field class="full-width">
                <input matInput placeholder="Username" name="username"
                ngModel>
            </mat-form-field>
            <br>
            <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!f.form.valid">Submit</button>
        </form>
    </div>
  </div>
  <div *ngIf="pageState.creatingUser">
    <h1>{{pageState.newUsername}}</h1>
  </div>
</div>
