<div>
  <div >
    <br>
    <button 
        *ngIf="!pageState.addingUser && !pageState.creatingUser"
        mat-raised-button 
    (click)="toggleNewUser()"
    color="primary">Add New User</button>
    <button
      *ngIf="pageState.addingUser || pageState.creatingUser"
      mat-raised-button
      (click)="close()"
      color="primary"
    >
      Close
    </button>
  </div>
  <div *ngIf="pageState.addingUser">
    <h1 class="center-text" style="font-family: 'Montserrat', sans-serif">Create a New User on this Account</h1>
    <div class="form-container">
        <form  #f="ngForm" (ngSubmit)="handleSubmit(f)">
            <mat-form-field class="full-width">
                <input matInput placeholder="Username" name="username"
                ngModel>
            </mat-form-field>
            <br>
            <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!f.form.valid">Submit</button>
        </form>
    </div>
  </div>
  <div *ngIf="pageState.creatingUser">
    <h1>{{pageState.newUsername}}</h1>
    <form #f="ngForm" (ngSubmit)="submitUser(f)">
      <mat-form-field class="full-width">
        <input matInput type="text" type="password" name="password" required minlength="6" maxlength="20" placeholder="Password" #password="ngModel" [(ngModel)]="user.password">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <input matInput type="text" type="password" name="confirmpassword" required minlength="6" maxlength="20" placeholder="Confirm Password" #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword">
      </mat-form-field>
      <br>
      <mat-radio-group>
        <mat-radio-button value="1">Admin</mat-radio-button>
        <br>
        <mat-radio-button value="2">User</mat-radio-button>
        <br>
      </mat-radio-group>
      <button 
        type="submit"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>
