<div>
  <h1 class='center-text'>Inventory Manager</h1>
  <div class='form-container'>
    <form #loginForm="ngForm" (ngSubmit)="submitLoginForm(loginForm)">
      <mat-form-field class="full-width">
        <input matInput name="username" placeholder="Username" required [(ngModel)]="user.username" #username="ngModel">
        <mat-error *ngIf="username.hasError('required')">Username is required</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
          <input matInput type="password" name="password" required minlength="6" maxlength="20" placeholder="Password" #password="ngModel" [(ngModel)]="user.password">
          <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
          <mat-hint>Password must be between 6 and 20 characters.</mat-hint>
      </mat-form-field>

      <mat-grid-list cols="6" rowHeight="1:1">
        <mat-grid-tile colspan="1">
            <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!loginForm.form.valid">Submit</button>
        </mat-grid-tile>

        <mat-grid-tile colspan="5">
          <p>
            <mat-checkbox>Remember me</mat-checkbox>
          </p>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
</div>
