<mat-tab-group>
  <mat-tab label="Create Order">
    <h2>New Order</h2>
    <mat-form-field>
    <input matInput placeholder="Sku #">
  </mat-form-field>
    <mat-form-field>
    <input matInput placeholder="Quantity">
  </mat-form-field>
  <br>
  <mat-icon>add Item</mat-icon>
  <br>
  <br>
  <button type="button" name="button">Submit Order</button>
  </mat-tab>

  <mat-tab label="Open Orders">
    <br>
    <mat-expansion-panel [expanded]="false" ng-repeat="x in x">
      <mat-expansion-panel-header style="background: gray;">
        <mat-panel-title>
          <h3>Order # </h3>
          <h3 style="padding-left: 50px;">Date Placed</h3>
          <h3 style="padding-left: 50px;">Department</h3>
        </mat-panel-title>
    </mat-expansion-panel-header>

     <p>Item:</p>
     <p>Sku:</p>
     <p>Vendor:</p>
     <p>Quantity:</p>
     <p>Price:</p>
     <div class="settings" style="display: inline-block;">
     <button type="button" name="button" style=" float: left;">Print Invoice</button>
     <button type="button" name="button" style=" float: right; margin-left: 10px;">Edit Invoice</button>
   </div>
  </mat-expansion-panel>
  </mat-tab>

  <mat-tab label="Closed Orders">
    <br>
    <mat-expansion-panel [expanded]="false" ng-repeat="x in x">
      <mat-expansion-panel-header style="background: gray;">
        <mat-panel-title>
          <h3>Order # </h3>
          <h3 style="padding-left: 50px;">Date Closed</h3>
          <h3 style="padding-left: 50px;">Department</h3>
        </mat-panel-title>
    </mat-expansion-panel-header>
     <p>Item:</p>
     <p>Sku:</p>
     <p>Vendor:</p>
     <p>Quantity:</p>
     <p>Price:</p>
     <div class="settings" style="display: inline-block;">
     <button type="button" name="button" style=" float: left;">Print Invoice</button>
   </div>
  </mat-expansion-panel>
  </mat-tab>
</mat-tab-group>
