table{
  border-collapse: collapse;
}
h5, p{
  margin: 1px;
}
td, th {
  border: 1px solid #A0A0A0;
  padding: 4px;
}
.even{
  background-color: #D3D3D3;
}
.inventory-table{
  width: 60%;
}
.panel-title{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;

}
.inventory-table-header{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
.card-content{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}