<div style="float: right; margin-top: 10px;">
  <button mat-raised-button color="primary" (click)="editItem.emit(item)">Create Item</button>
</div>
<div class="inventory-table">
    <mat-form-field>
      <input type="search" [(ngModel)]="searchText" placeholder="Search" matInput>
    </mat-form-field>
    <div class="inventory-table-header">
      <h3>Name</h3>
      <h3>Size</h3>
      <h3>Description</h3>
    </div>
    <mat-accordion>
      <mat-expansion-panel *ngFor='let item of (items | search : searchText); let i=index; let odd=odd; let even=even' [ngClass]="{odd: odd, even: even }">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="panel-title">
              <p>{{item.name}}</p>
              <p>{{item.size}}</p>
              <p>{{item.description}}</p>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-content>
            <div class="card-content">
              <h5>SKU:</h5>
              <p>{{item.SKU}}</p>
              <h5>Manufacturer:</h5>
              <p>{{item.manufacturer}}</p>
              <h5>Order Price:</h5>
              <p>{{item.orderPrice}}</p>
              <h5>Retail Price:</h5>
              <p>{{item.retailPrice}}</p>
              <h5>Number in Stock:</h5>
              <p>{{item.count}}</p>
            </div>
          </mat-card-content>
          <mat-card-content>
            <mat-card-title>Categories:</mat-card-title>
            <ul style="list-style-type: none; padding-left: 0;">
              <li *ngFor="let category of item.categories; let i = index;" style="display: inline-block; margin-right: 5px;">
                <a style="color: red" href="#" (click)="deleteCategoryAtIndex(i, item._id); false;">{{category}}</a>
              </li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="editItem.emit(item)">Edit Item</button>
            <!-- <button mat-raised-button color="primary" (click)="deleteItem.emit(item)">Delete Item</button> -->
            <button mat-raised-button color="primary" (click)="openDialog(item)">Delete Item</button>
            <button mat-raised-button color="primary" style="float: right" (click)="openAddCategoryDialog(item)">Add Category</button>
          </mat-card-actions>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
