<mat-toolbar *ngIf="!userService.loggedIn" color="primary">
  <span>
    <button mat-button routerLink="/" routerLinkActive="active">Bears IMS</button>
  </span>
  <span>
    <button mat-button routerLink="login" routerLinkActive="active">Sign In</button>
  </span>
  <span>
    <button mat-button routerLink="/sign_up" routerLinkActive="active">Sign Up</button>
  </span>
</mat-toolbar>
<mat-toolbar *ngIf="userService.loggedIn" color="primary">
  <span>
    <button mat-button routerLink="/" routerLinkActive="active">Bears IMS</button>
  </span>
  <span>
    <button mat-button routerLink="/inventory">Inventory</button>
  </span>
  <span>
    <button mat-button routerLink="/admin">Admin</button>
  </span>
  <span>
    <button mat-button imsLogout>Log Out</button>
  </span>
</mat-toolbar>

