<div class="container">
  <h2>Invoice</h2>
  <br>
  <h4 style="float:left;">Order #</h4>
  <div class="itemDetail" ng-repeat="x in x">
    <ul>
      <li>
        <p>Sku #:</p>
      </li>
      <li>
        <p>Vendor:</p>
      </li>
      <li>
        <p>Description:</p>
      </li>
      <li>
        <p>Price:</p>
      </li>
      <li>
        <p>Quantity:</p>
      </li>
    </ul>
  </div>
<button type="button" name="button">Print Invoice</button>
    <br>
    <a href="">Return to Menu</a>
</div>
