<form [formGroup]="newOrderForm" (ngSubmit)="onSubmit()">
  <div class="itemsAdded" ng-show="addItem">
    <p *ngIf="!selectedItem">
      <mat-form-field>
        <input
          matInput
          placeholder="Enter New Item"
          formControlName="new"
          >
      </mat-form-field>
      </p>
    <p>
      <mat-form-field>
        <input
          matInput
          placeholder="Sku #"
          formControlName="sku"
          >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          placeholder="Vendor"
          formControlName="vendor"
          >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Quantity"
          formControlName="quantity"
          >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input
          matInput
          placeholder="Price"
          formControlName="price"
          [textMask]="{mask: mask}"
          >
      </mat-form-field>
    </p>
    <p>Close:
      <mat-checkbox formControlName="closed" [(ngModel)]="checked"></mat-checkbox>
      <small>Check to complete order on submission.</small>
    </p>
  </div>
  <!-- <div class="itemAdd">

  <button md-button>Clear</button>
  <button md-button>Save Item</button>
  </div> -->
  <br>
  <br>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!newOrderForm.valid || newOrderForm.pristine"
    >
    Submit Order
  </button>
  <button
    mat-raised-button
    color="primary"
    type="reset"
    (click)="clearOrder()"
    >
    Clear Order
  </button>
</form>
