<form [formGroup]="orderEditForm" (ngSubmit)="onSubmit()">
  <p>Item:
    <mat-form-field>
      <input matInput formControlName="item">
    </mat-form-field>
  </p>
  <p>Sku:
    <mat-form-field>
      <input matInput formControlName="sku">
    </mat-form-field>
  </p>
  <p>Vendor:
    <mat-form-field>
      <input matInput formControlName="vendor">
    </mat-form-field>
  </p>
  <p>Quantity:
    <mat-form-field>
      <input matInput type="number" min="0" formControlName="quantity">
    </mat-form-field>
  </p>
  <p>Price:
    <mat-form-field>
      <input matInput [textMask]="{mask: mask}" formControlName="price">
    </mat-form-field>
  </p>
  <p>Closed:
    <mat-checkbox formControlName="closed" [(ngModel)]="checked"></mat-checkbox>
  </p>
  <div class="settings" style="display: inline-block;">
    <button
      mat-raised-button
      color="primary"
      type="button"
      name="printButton"
      style=" float: left;"
      (click)="openPrint(openOrder)"
      >
      Print Invoice
    </button>

    <button
      mat-raised-button
      color="primary"
      type="button"
      name="deleteButton"
      style=" float: right; margin-left: 10px;"
      (click)="deleteOrder.emit(openOrder)"
      >
      Delete Invoice
    </button>

    <button
      mat-raised-button
      color="primary"
      type="reset"
      name="cancelButton"
      style=" float: right;  margin-left: 10px;"
      (click)="cancelEdit()"
      *ngIf="openOrder._id === editObj._id"
      >
      Cancel Edit
    </button>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      name="saveButton"
      style=" float: right;  margin-left: 10px;" *ngIf="openOrder._id === editObj._id"
      >
      Save Edit
    </button>

    <button
      mat-raised-button
      color="primary"
      type="button"
      name="editButton"
      style=" float: right; margin-left: 10px;"
      (click)="edit(openOrder)"
      *ngIf="openOrder._id !== editObj._id"
      >
      Edit Invoice
    </button>
  </div>
</form>
